@model IEnumerable<Painel.Models.Entidades.TipoIntegracao>
@{
    ViewData["Title"] = "Integracao";
}
<h2>Tipo de Integração</h2>
<p>
    <a asp-action="Integracao_Criar">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_Tipo_Integracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.no_Tipo_Integracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_Tipo_Integracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.no_Tipo_Integracao)
                </td>
            </tr>
        }
    </tbody>
</table>