@model Painel.Models.Entidades.Usuario

@{
    ViewData["Title"] = "Usuário - Criar";
}

<h2>Usuário - Criar</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Usuario_Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cd_usuario" class="control-label"></label>
                <input asp-for="cd_usuario" class="form-control" />
                <span asp-validation-for="cd_usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="no_usuario" class="control-label"></label>
                <input asp-for="no_usuario" class="form-control" />
                <span asp-validation-for="no_usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tp_tipousuario" class="control-label"></label>
                <select asp-for="tp_tipousuario" class="form-control" asp-items="@ViewBag.TipoUsuario"></select>
                <span asp-validation-for="tp_tipousuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Usuario">Voltar para a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
