<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Integradores.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Integradores.Properties.Settings>
            <setting name="Processador" serializeAs="String">
                <value>Desenv_Bot</value>
            </setting>
            <setting name="DB_Tipo" serializeAs="String">
                <value>SQLSRV</value>
            </setting>
            <setting name="DB_StringConexao" serializeAs="String">
                <value>Server=tcp:integrador.database.windows.net,1433;Initial Catalog=i9ativa;Persist Security Info=False;User ID=i9admin;Password=8nbzw4FFrXEzJui;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
            <setting name="DB_TabelaView" serializeAs="String">
                <value>vw_tarefas_executar</value>
            </setting>
            <setting name="Senha_Administrador" serializeAs="String">
                <value />
            </setting>
            <setting name="WebHook_Url" serializeAs="String">
                <value>https://btalice.azurewebsites.net/api/</value>
            </setting>
            <setting name="DB_Nome" serializeAs="String">
                <value>SQLSRV</value>
            </setting>
            <setting name="SegundosParaLeituras" serializeAs="String">
                <value>1000</value>
            </setting>
        </Integradores.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>